body
{
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("img/tlo.png");
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

#logo
{
    width: 100%;
    height: 50px;
    background-color: #485b3b;
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 0 5px 0;
    letter-spacing: 3px;
    border-bottom: 2px solid #33402a;
    text-shadow:
    2px 2px 0 #33402a,
    -2px 2px 0 #33402a,
    -2px -2px 0 #33402a,
    2px -2px 0 #33402a;
}

#container
{
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 878px;
    padding: 10px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;

}

#spis
{
    width: 880px;
}
ol{
    margin-top: 5px;

}

ol > li
{
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 5px;
    letter-spacing: 3px;

}

ol > li > ul
{
    font-size: 18px;
    text-transform: none;
    font-weight: 400;
    padding: 0;
    letter-spacing: 0;
    margin-top: 5px;
}
