body
{
    background-color: #303030;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

#container
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.rectangle
{
    width: 960px;
    margin: 20px;
}

.square
{
    width: 50%;
    float: left;
}

#logo
{
    float:left;
    font-family: 'Josefin Slab', serif;
    font-size: 70px;
    width:600px;
    text-align: left;
}

#zegar
{
    float:left;
    font-family: 'Josefin Slab', serif;
    font-size: 70px;
    text-align: left;
}

.tile1
{
    float: left;
    width: 230px;
    margin: 10px;
    height: 142px;
    background-color: #3095d3;
    text-align: center;
}

.tile1:hover
{
    background-color: #2084c2;
}



.tile2
{
    float: left;
    width: 230px;
    height: 142px;
    margin: 10px;
    background-color: #666666;
    text-align: center;
}

.tile2:hover
{
    background-color:#555555 ;
}

.tile3
{
    float: left;
    width: 230px;
    height: 142px;
    margin: 10px;
    background-color: #93c748;
    text-align: center;
}

.tile3:hover
{
    background-color: #82b637;
}

.tile4
{
    width: 420px;
    margin: 10px;
    height: 82px;
    background-color: #ee5a32 ;
    text-align: center;
    font-size: 20px;
    padding: 30px;
    line-height: 150% ;
}

.tile5
{
    width: 420px;
    margin: 10px;
    height: 244px;
    background-color: #666666;
    text-align: justify;
    padding:30px;
}

.yt
{
    float: left;
    width: 105px;
    height: 142px;
    margin: 10px;
    background-color: #d94348;
}

.yt:hover
{
    background-color:#c83237;
}

.fb
{
    float: left;
    width: 105px;
    height: 142px;
    margin: 10px;
    background-color: #4668b3;
}

.fb:hover
{
    background-color: #3557a2;
}

.gplus
{
    float: left;
    width: 105px;
    height: 142px;
    margin: 10px;
    background-color: #d95333;
}

.gplus:hover
{
    background-color: #c84222;
}

.tw
{
    float: left;
    width: 105px;
    height: 142px;
    margin: 10px;
    background-color: #3095d3;
}

.tw:hover
{
    background-color: #2084c2;
}

.rectangle
{
 text-align: center ;
}

.big
{
    font-size: 70px;
}

.margin20top
{
    margin-top: 20px;
    display: block;
}

a.tilelink {
    color: #ffffff;
    text-decoration: none;
    display: block;
}