body
{
    background-color: gray;
    color: azure;
    font-family: Verdana;
    font-size: 20px;
}

h1
{
    font-size: 48px;
}

/*odwiedzony link*/
a:visited
{
    color: yellow;
}

/*link po najechaniu kursorem*/
a:hover
{
    color: deeppink;
}
