
.icon-gplus:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-youtube:before { content: '\e802'; } /* '' */
.icon-laptop:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-user:before { content: '\e806'; } /* '' */
.icon-list-alt:before { content: '\e807'; } /* '' */
.icon-mail-squared:before { content: '\f199'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */