

.block
{
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 30px;
    background-color: #0088cc;
    color: green;
    text-align: center;
    font-size: 50px;

}

.block:hover
{
    background-color: #0077bb;
}

#jeden
{
    float: left;
    width: 200px;
    height: 150px;
    margin: 10px;
    padding: 10px;
    background-color: #93c748;

}


#dwa
{
    float: left;
    width: 200px;
    height: 150px;
    margin: 10px;
    padding: 10px;
    background-color: #82b637;

}

.clear {
    clear: both;
}