#container
{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
#logo
{
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
}
#nav
{
  width: 120px;
  min-height: 620px;
  padding: 10px;
  background-color: aqua;
  float: left;
}
#content
{
  width: 740px;
  padding: 10px;
  min-height: 620px;
  background-color: blueviolet;
  float: left;
}
#ad
{
  width: 80px;
  padding: 10px;
  min-height: 620px;
  background-color: darkblue;
  float: left;
}
#footer
{
  background-color: darkolivegreen;
  clear: both;
}
