body
{
    background-color: #303030;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

#container
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.rectangle
{
    width: 960px;
    margin: 20px;
}
#logo
{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    width: 600px;
    float: left;
    text-align: left;

}
#zegar
{
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    float: left;
    text-align: left;

}
.square
{
    width: 50%;
    float: left;
}
.tile1
{
    width: 230px;
    margin: 10px;
    float: left;
    height: 142px;
    background-color: #3095d3;
    text-align: center;
}
.tile1:hover
{
    background-color: #2084c2;
}
.tile2
{
    width: 230px;
    margin: 10px;
    float: left;
    height: 142px;
    background-color: #666666;
    text-align: center;
}
.tile2:hover
{
    background-color: #555555;
}
.tile3
{
    width: 230px;
    margin: 10px;
    float: left;
    height: 142px;
    background-color: #93c748;
    text-align: center;
}
.tile3:hover
{
    background-color: #82b637;
}
.tile4
{
    width: 420px;
    margin: 10px;
    height: 82px;
    background-color: #c83237;
    padding: 30px;
    font-size: 20px;
}
.tile5
{
    width: 420px;
    margin: 10px;
    height: 244px;
    background-color: #666666;
    text-align: center;
    padding: 30px;
}

.yt
{
    width: 105px;
    margin: 10px;
    height: 142px;
    background-color: #d94348;
    float: left;
}
.yt:hover
{
    background-color: #c83237
}

.fb
{
    width: 105px;
    margin: 10px;
    height: 142px;
    background-color: #4668b3;
    float: left;
}
.fb:hover
{
    background-color: #3557a2
}
.gplus
{
    width: 105px;
    margin: 10px;
    height: 142px;
    background-color: #d95333;
    float: left;
}
.gplus:hover
{
    background-color: #c84222;
}

.tw
{
    width: 105px;
    margin: 10px;
    height: 142px;
    background-color: #3095d3;
    float: left;
}

.tw:hover
{
    background-color: #2084c2;
}
.rectangle
{
    text-align: center;
}

.big
{
    font-size: 70px;
    margin-top: 10px;
    display: block;
}
.tilelink
{
    color: #ffffff;

    text-decoration: none;
}