body
{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    background-color: #93c748;
    font-size: 20px;
}

#container
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.rectangle
{
    width: 980px;
    margin: 10px;
}

#zegar
{
    font-size: 60px;
    text-align: center;
    background-color: #82b637;
}

.left-side {
    width: 70%;
    float: left;
}

.right-side {
    width: 30%;
    float: left;
}

.tile1
{
    width: 620px;
    margin: 10px;
    height: 125px;
    padding: 30px;
    background-color: white;
    color: #82b637;
}

.tile2
{
    float: left;
    width: 290px;
    height: 310px;
    margin: 10px;
    padding: 20px;
    background-color: #0088cc;

}
.tile2:hover
{
    background-color: #0077bb;
}
.tile3
{
    float: left;
    width: 290px;
    height: 310px;
    margin: 10px;
    padding: 20px;
    background-color: #0088cc;
}
.tile3:hover
{
    background-color: #0077bb;
}


.yt
{
    float: left;
    width: 130px;
    height: 185px;
    margin: 10px;
    background-color: #c83237;
}
.gplus
{
    float: left;
    width: 130px;
    height: 185px;
    margin: 10px;
    background-color: #c83237;
}
.tile4
{
    width: 240px;
    margin: 10px;
    height: 310px;
    padding: 20px;
    background-color: #3095d3;
}
.big
{
    font-size: 70px;
    text-decoration: none;

}

.tilelink
{
   text-decoration: none;
    color: #93c748;
}